

    <footer>

<div class="icons">
    
        <i class="fa-brands fa-instagram cur"></i>
        <i class="fa-brands fa-facebook cur"></i>
       <a href="https://www.linkedin.com/in/kavyathakre"> <i class="fa-brands fa-linkedin cur"></i></a>
    </div>
    <div class="ltd cur">&copy Casandra Privet Limited</div>
    <div class="prv ">
        <a href="">Privacy Policy</a>
        <a href="">Terms</a>
    </div>


 
    </footer>

       
