

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Casandra</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing/new">Become a Host</a>
        </li>
        
      </ul>
      
 <form action="/listing" method="get" class=" navbar-nav form-inline my-2 my-lg-0 ms-auto">
      <input value="<%= typeof search !== 'undefined' ? search : '' %>" name="search" sty class="search form-control mr-sm-2" type="search" placeholder="Search Destination" aria-label="Search">
      <button class=" searchbutton ms-1 btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
     
     
      <ul class="ms-auto navbar-nav">
        <%if(!currUser){%>
          <li class="nav-item">
          <a class="nav-link" href="/user"><b>SignUp</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Login</b></a>
        </li>
        <%}%>
        <%if(currUser){%>
          <li class="nav-item ">
          <a class="nav-link " href="/logout"><b>Logout</b></a>
        </li>
        <%}%>
        
      </ul>
    </div>
  </div>
</nav>
