<%layout("/layouts/boilerplate.ejs")%>
<div class="container ">
            

<div class="row justify-content-center">
  
  <form action="/signup" method="POST" class="col-md-6 needs-validation" novalidate >

    <h3>SignUp</h3>
    <label for="username" class="form-label">Username:</label>
  <input name="username" type="text" class="form-control" required>
  <label for="email" class="form-label">Email:</label>
  <input name="email" type="text" class="form-control" required>
  <label for="password" class="form-label">Password:</label>
  <input name="password" type="text" class="form-control" required>
  <br>
  <button class="btn btn-success">SignUp</button>
</form>
</div>
    
</div>
